# pyc
*.pyc

# Vim backups
*.swp

# Scract backups
*~

# Sublime files
.sublime-workspace

# Sqlite database
.sqlite3

# configurations
*.cnf

# sensible information
sensible.py

# static
static/*

# documents
media/documents/

