{% extends "admin/base_site.html" %}
{% block title %}Gantt - Proyecto{% endblock %}
{% block extrahead %}
    <style>
        .colM h1{
            margin-bottom: inherit;
        }
        #content {                
            padding: 10px;
            margin: 0px;
        }
        .gantt{
            width: 100%;
        }
    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['timeline']}]}"></script>
    <script type="text/javascript">
        google.setOnLoadCallback(drawCharts);

        function drawCharts() {
            //var content = document.getElementById('content');
            {% for proyecto in proyectos %}
                var colors_{{ proyecto.proyecto.id }} = [{% for color in proyecto.colors %}'{{ color }}', {% endfor %}];
                var options_{{ proyecto.proyecto.id }} = {
                    timeline: { groupByRowLabel: false },
                    colors: colors_{{ proyecto.proyecto.id }},
                };
                //var div_{{ proyecto.proyecto.id }} = $('<div><h1>Diagrama Gantt del proyecto {{ proyecto.proyecto.proyecto }}.</h1><div id="gantt_{{ proyecto.proyecto.id }}" class="gantt" style="height: {{ proyecto.height }}px"></div></div>');
                //    $(content).append(div_{{ proyecto.proyecto.id }});
                var container_{{ proyecto.proyecto.id }} = document.getElementById('gantt_{{ proyecto.proyecto.id }}');
                var chart_{{ proyecto.proyecto.id }} = new google.visualization.Timeline(container_{{ proyecto.proyecto.id }});
                
                var dataTable_{{ proyecto.proyecto.id }} = new google.visualization.DataTable();
                dataTable_{{ proyecto.proyecto.id }}.addColumn({ type: 'string', id: 'Modulo' });
                dataTable_{{ proyecto.proyecto.id }}.addColumn({ type: 'string', id: 'Tarea' });
                dataTable_{{ proyecto.proyecto.id }}.addColumn({ type: 'date', id: 'Inicia' });
                dataTable_{{ proyecto.proyecto.id }}.addColumn({ type: 'date', id: 'Termina' });

                dataTable_{{ proyecto.proyecto.id }}.addRows([
                {% for row in proyecto.rows %}[ '{{ row.modulo }}', '{{ row.tarea }}' , new Date({{ row.fecha_inicial.year }}, {{ row.fecha_inicial.month|add:"-1" }}, {{ row.fecha_inicial.day }}), new Date({{ row.fecha_final.year }}, {{ row.fecha_final.month }}, {{ row.fecha_final.day }})],
                {% endfor %}
                ]);

                chart_{{ proyecto.proyecto.id }}.draw(dataTable_{{ proyecto.proyecto.id }}, options_{{ proyecto.proyecto.id }});
            {% endfor %}
        }
    </script>
{% endblock %}

{% block content %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Diagramas de Gantt</h4>
        Solo es posible visualizar diagramas Gantt de proyectos con un número de tareas mayores o iguales a 2.
    </div>
    {% for proyecto in proyectos %}
    <div class="proyecto_{{ proyecto.proyecto.id }} form-horizontal" style="margin-bottom: 10px;">
        <h1>Diagrama Gantt del proyecto [{{ proyecto.proyecto.id }}] {{ proyecto.proyecto.proyecto }}</h1>
        <hr/>
        <div class="tab-content tab-content-main" style="margin-bottom: 5px;">
            <fieldset class="module aligned first">
                <div class="control-group form-row">
                    <div>
                        <div class="control-label">
                            <label>Horas Totales:</label>
                        </div>
                        <div class="controls">
                            Estimadas: {{ proyecto.resume.horas.estimadas }} hrs - Reales: {{ proyecto.resume.horas.reales }} hrs
                        </div>
                    </div>
                </div>
                <div class="control-group form-row">
                    <div>
                        <div class="control-label">
                            <label>Periodo:</label>
                        </div>
                        <div class="controls">
                            {{ proyecto.resume.periodo.inicio }} - {{ proyecto.resume.periodo.fin }}
                        </div>
                    </div>
                </div>
                <div class="control-group form-row">
                    <div>
                        <div class="control-label">
                            <label>Tareas:</label>
                        </div>
                        <div class="controls">
                            {{ proyecto.resume.tareas.totales }} totales, 
                            {{ proyecto.resume.tareas.terminadas }} terminadas, 
                            {{ proyecto.resume.tareas.pendientes }} pendientes, 
                            {{ proyecto.resume.tareas.proceso }} en proceso, 
                            {{ proyecto.resume.tareas.pausadas }} pausadas, 
                            {{ proyecto.resume.tareas.bloqueadas }} bloquedas, 
                            {{ proyecto.resume.tareas.asignadas }} asignadas,
                            {{ proyecto.resume.tareas.abandonadas }} abandonadas.
                        </div>
                    </div>
                </div>
                <div class="control-group form-row">
                    <div>
                        <div class="control-label">
                            <label>Involucrados:</label>
                        </div>
                        <div class="controls">
                            {% for usuario in proyecto.resume.involucrados %}
                            {{ usuario.username }}, 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div id="gantt_{{ proyecto.proyecto.id }}" class="gantt" style="height: {{ proyecto.height }}px;"></div>
    </div>
    {% endfor %}
{% endblock %}