{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify admin_urls %}

{% block bodyclass %}Profile{% endblock %}

{% block content %}
  <div id="content-main">
    <form action="" method="post" id="profile_form" class="form-horizontal">
      {% csrf_token %}  
      <div>
        {% if form.errors %}
          <div class="alert alert-error">
              {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %} Please correct the errors below.
              {% endblocktrans %}
          </div>
        {% endif %}

        <div class="alert alert-info">{% blocktrans %}Puede obtener su Token de Pushbullet <a href="https://www.pushbullet.com/account">aqui</a>.{% endblocktrans %}</div>
        
        <fieldset class="module aligned">
          <div class="control-group{{ form.token.errors|yesno:' error,' }}">
            <div class="control-label">
              <label for="id_token">{% trans 'Pushbullet Token' %}:</label>
            </div>
            <div class="controls">
              {{ form.token }}
              <div class="help-inline">{{ form.token.errors }}</div>
            </div>
          </div>

          <div class="control-group{{ form.token.errors|yesno:' error,' }}">
            <div class="control-label">
              <label for="id_github">{% trans 'GitHub Token' %}</label>
            </div>
            <div class="controls">
              {{ form.github }}
              <div class="help-inline">{{ form.token.eroors }}</div>
            </div>
          </div>

          <div class="control-group{{ form.is_mail_active.errors|yesno:' error,' }}">
            <div class="control-label">
              <label for="id_is_email_active" class="required">{% trans 'Recibir emails' %}:</label>
            </div>
            <div class="controls">
              {{ form.is_email_active }}
              <div class="help-inline">{{ form.is_email_active.errors }}</div>
            </div>
          </div>

          <div class="control-group">
            <div class="control-label">
              <label for="id_is_email_active" class="required">{% trans 'Tastypie API Key' %}:</label>
            </div>
            <div class="controls">{{ user.get_apikey }}</div>
          </div>

          <div class="control-group">
            <div class="control-label">
              <label for="id_start_time" class="required">{% trans 'Hora inicial' %}:</label>
            </div>
            <div class="controls">
                {{ form.start_time }}
              <div class="help-inline">{{ form.start_time.errors }}</div>
            </div>
          </div>

          <div class="control-group">
            <div class="control-label">
              <label for="id_start_time" class="required">{% trans 'Hora de comida' %}:</label>
            </div>
            <div class="controls">
                {{ form.lunch_time }}
              <div class="help-inline">{{ form.lunch_time.errors }}</div>
            </div>
          </div>

          <div class="control-group">
            <div class="control-label">
              <label for="id_end_time" class="required">{% trans 'Hora final' %}:</label>
            </div>
            <div class="controls">
                {{ form.end_time }}
              <div class="help-inline">{{ form.end_time.errors }}</div>
            </div>
          </div>

          <div class="control-group">
            <div class="control-label">
              <label for="id_dias" class="required">{% trans 'Días de Trabajo' %}:</label>
            </div>
            <div class="controls">
                <div>{{ form.sun }} {{ form.sun.label }}</div>
                <div>{{ form.mon }} {{ form.mon.label }}</div>
                <div>{{ form.tue }} {{ form.tue.label }}</div>
                <div>{{ form.wed }} {{ form.wed.label }}</div>
                <div>{{ form.thu }} {{ form.thu.label }}</div>
                <div>{{ form.fri }} {{ form.fri.label }}</div>
                <div>{{ form.sat }} {{ form.sat.label }}</div>
            </div>
          </div>

        </fieldset>

        {% if saved = True %}
        <br/>
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% trans 'Done' %}. 
        </div>
        {% endif %}

        <div class="submit-row submit-row-bottom">
          <input type="submit" value="{% trans 'Save' %}" class="default btn btn-info"/>
        </div>

        <script type="text/javascript">document.getElementById("id_token").focus();</script>
      </div>
    </form>
  </div>
{% endblock %}
