{% extends "admin/change_form.html" %}
{% load admin_modify %}
{% block submit_buttons_bottom %}
    {% submit_row %}
    {% if adminform.form.instance.id and adminform.form.instance.responsable = user %}
        {% with adminform.form.instance.get_last_log.status as status_log  %}
        {% if status_log > 0%}
        <hr/>
        <div class="submit-row clearfix">
            <p>Marcar como:</p>
            {% if status_log == 1 or status_log == 6 %}
                <button class="btn btn-primary">En Proceso</button>
            {% elif status_log == 2 %}
                <button class="btn btn-warning">Pausado</button>
                <button class="btn btn-success">Terminado</button>
                <button class="btn btn-danger">Bloqueado</button>
            {% elif status_log == 3 or status_log == 5 %}
                <button class="btn btn-primary">En Proceso</button>
                <button class="btn btn-inverse">Pendiente</button>
            {% elif status_log == 4 %}
                <button class="btn btn-primary">Reasignar</button>
            {% endif %}
        </div>
        {% endif %}
        {% endwith %}
    {% endif %}
{% endblock %}
{% block after_field_sets %}
    {% if adminform.form.instance.id and adminform.form.instance.responsable = user %}
        <fieldset class="module aligned first">
            <div class="control-group form-row field-nota ">
                <div>
                    <div class="control-label">
                        <label>Estado:</label>
                    </div>
                    <div class="controls">
                        <h2 class="readonly"><b>{{ adminform.form.instance.get_last_status }}</b></h2>
                    </div>
                </div>
            </div>
        </fieldset>
    {% endif %}
{% endblock %}
