{% extends "base_email.html" %}
{% block titulo%}Prueba mail{% endblock %}
{% block descripcion %}
    Este es un mail de prueba
{% endblock %}
{% block contenido %}
    <h4>Detalles:</h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec pharetra justo. Nunc varius eros a ante convallis vehicula. Ut tincidunt sem vel risus mattis, sit amet blandit metus commodo. Praesent dictum rhoncus lacus, lobortis elementum ipsum placerat ut. Nullam quis dolor nisl. Fusce tempus leo odio, nec egestas diam consequat vitae. Vivamus sodales tincidunt lectus eget gravida. Mauris nunc ligula, ultrices facilisis eros in, volutpat mollis erat. Integer volutpat malesuada nibh. Etiam elit metus, vestibulum a aliquam quis, porttitor id leo.
    </p>
{% endblock %}
{% block patas %}
    <p>Nunc quis eleifend dui, at egestas libero. Etiam rhoncus, velit eu dapibus scelerisque, ante ante aliquet felis, at ultricies felis ante quis mi. Quisque nulla neque, molestie eget dolor maximus, commodo vestibulum magna. Morbi ac nisl vitae metus sollicitudin tincidunt. Aliquam erat volutpat.</p>
{% endblock %}
