{% extends "admin/base.html" %}
{% load admin_static staticfiles i18n %}

{% block extrajs %}
    <script>
        console.log('hosts: {{ URL_HOST }}');
    </script>
{% endblock %}
{% block extrastyle %}
    <style>
        @media print{
            html, body {
                width: 210mm;
                height: 297mm;
            }
            html, body, table, text{
                font-size: 10px;
            }
            @page {
                size: landscape;
                margin: 0;
            }
            .no-print{
                display: none;
            }
        }
    </style>
{% endblock %}

{% block userlinks %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
        <span class="separator">|</span>
    {% endif %}
    <span class="separator">|</span>
    <a href="/admin/auth/profile/">{% trans 'Preferences' %}</a>
    <span class="separator">|</span>
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
    <span class="separator">|</span>
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
    </span>
{% endblock %}
